# App
TEST_BASE_URL=https://test.rms2.awsys-i.com/login

# Valid User
TEST_EMAIL_PREFIX=anthony.tagorda
TEST_EMAIL_DOMAIN=@awsys-i.com
TEST_PASSWORD=

# Invalid Login Test
TEST_FAKE_PASSWORD=Awsys123

# Concurrency
CONCURRENT_USERS=10
BATCH_SIZE=3